<% if user_signed_in? %>
<% else %>
<body id="welcome" class="pure-skin-mine">
  <div class="inner_cover">
    <!-- <h1 class="cover-heading shadow">Planit</h1> -->
    <p class="lead tagline shadow">Group trips. Organized.</p>
    <p class="title shadow">She used Planit to organize her yearly family reunion</p>
    <p class="lead"><%= link_to 'Sign up', new_user_registration_path, { :class=>"pure-button pure-button-primary pure-button-active" }  %></p>
      <p class="shadow login">Already have an account? <%= link_to 'Log In', new_user_session_path %></p>

    <p id="team-planit" class="shadow">Team Planit: Annie, Ariel, Dusty, Fabi &amp; Jaimin</p>
  </div> <!-- / inner cover -->
</body>
<% end %>