<% if user_signed_in? %>
<% else %>
<body id="welcome">
  <div class="inner_cover">
    <h1 class="cover-heading">Planit</h1>
    <h2 class="tagline">Group trips. Organized.</h2>
    <p class="lead"><div id="signup" class="pure-button pure-button-active"><%= link_to 'Sign up', new_user_registration_path %></div></p>
    
  </div> <!-- / inner cover -->
</body>
<% end %>