/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require fullcalendar
 *= require_tree .
 *= require_self
 */
/* (from scaffold.css) a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}*/

body {
  background-image: url('../Boat.png');
  background-repeat:none;
  background-size: cover;
  font-family: 'Dosis', sans-serif;  color: black; 
}

.container {
  margin: 20px auto;
  width: 800px;
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
  /*opacity: 0.7;*/
}

/* Links */
a {
  color:#5F829C;
  text-decoration: none;
}

a:focus,
a:hover {
  color: gray;
}

.form_container {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  /*color: #5F829C;*/
}

/*.trip_show h2 {
  margin:auto;
}*/

/*#welcome .sub_container {
  opacity: 0.1;
}*/
/*.btn-default,
.btn-default:hover,
.btn-default:focus {
  width: 170px;
  padding: 10px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.btn-default a {
  margin-top: 15px;
  font-size: 23px;
  vertical-align: center;
}

.btn-lg,
.btn-lg:hover,
.btn-lg:focus {
  width: 250px;
  padding: 30px;
  margin: 0 auto 30px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.btn-lg a {
  font-size: 27px;
  vertical-align: center;
}*/

 /* Globals 

 
 