#trips_calendar {
	margin:auto;
}

#calendar {
	margin:auto;
}

#trips_calendar .fc-event-title {
	font-size: 18px;
	color:white;
}

#trips_calendar .fc-event-title:hover {
	color: #F3FAB6;
}

#trips_calendar .fc-event-inner:hover {
	background-color: #415096;
	border-color:#415096;
}

#calendar .fc-event-title {
	font-size: 18px;
	color:white;
}

#calendar .fc-event-title:hover {
	color: #F3FAB6;
}

#calendar .fc-event  {
	background-color: #7AC449;
	border-color: #7AC449;
}

#calendar .fc-event:hover {
	background-color: #58A127;
	border-color: #58A127;
}

/*<a href="http://localhost:3000/activities/4.html" class="fc-event fc-event-hori fc-event-start fc-event-end" style="position: absolute; left: 469.4270935058594px; width: 43px; top: 237.55209350585938px;"><div class="fc-event-inner"><span class="fc-event-title">eat cake, drink cocktails</span></div></a>*/
