
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body#welcome {
  height: 100%;
  background-color: #333;
}

body#welcome {
  background-image: url('../Boat.png');
  background-repeat:none;
  background-size: cover;
  font-family: 'Dosis', sans-serif;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
#welcome .site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
#welcome .site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
#welcome .cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
#welcome .inner {
  padding: 30px;
}


/*
 * Header
 */
#welcome .masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}


@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

#welcome .cover {
  padding: 0 20px;
}
#welcome .cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

#welcome .mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  #welcome .masthead {
    position: fixed;
    top: 0;
  }
  #welcome .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  #welcome .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  #welcome .masthead,
  #welcome .mastfoot,
  #welcome .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  #welcome .masthead,
  #welcome .mastfoot,
  #welcome .cover-container {
    width: 700px;
  }
}
