/*we can get rid of this container... it was just so i can work*/

#expense_list_container {
	background-color: white;
	padding-top: 100px;
}

#expense_list_container table td {
	font-size: 80%;

}

#expense_list .expense_name {
	font-weight: bold;
}

#expense_list .expense_date {
	font-size: 80%;
}