
#expense_list_container table td {
	font-size: 110%;
  text-align: center;
  font-family: 'Arial';
}

#expense_list {
	margin:7px;
}

#expense_list .expense_name {
	font-weight: bold;
}

#expense_list .expense_date {
	font-size: 80%;
}

#expense_list .charge_payment {
  /*color: green;*/
}

#expense_list .charge_debt {
  color: red;
}

#expense_list .charge_account {
  font-weight: bold;
}
