.nav {
	z-index: 100;
	background-color: white;
	box-shadow: 1px 1px 1px 1px #81939C;
	height: 40px;
	width: 100%;
	text-decoration: none;
	padding-left: 5px;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
}

.nav li {
	list-style-type: none;
	color: black;
	float: left;
	padding-right: 15px;
}

.nav a {
	text-shadow: none;
	font-family: 'Dosis', sans-serif;
	font-size: 16px;
}

#planit_brand a {
	font-size: 24px;
}

/*#trips_show_nav {
	margin-top: 40px;
}*/