.trip_show_bar {
	width: 100%;
	height: 30px;
	background-color: #C2DEED;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 10px;
}


.trip_show_bar h2 {
	padding-top:4px;

}

#trip_title {
	font-size: 3em;
	text-align: center;
}

#trip_show_page p, li {
	font-size: 18px;
}

strong {
	font-size: 115%;
}

#poll-form {
	display:block;
	margin:auto;
	width:100%;
	padding: 0;
}

#poll-form tr td {
	font-size: 150%;
}

#poll_vote {
	text-align: left;
	padding:7px;
}

#poll-choice {
	font-size: 2em;
}
